
<pre>
/**这个页面是抓取到的下载地址，你可以将他们复制到迅雷等下载器进行下载*/
/**
共计: <%=length %>
*/
<% if (db) { %>
<% } else { %>
<a style="color:red" href="../download/works" target="_blank"><h3>  /*我想要预览并打包下载*/</h3></a>
<% } %>
<%items.forEach(function(item){ %><% if (size == 'small') { %><%= item.small_address%><% } else { %><%= item.big_address%><% } %>
<%})%>
</pre>
