<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Error</title>
        <script src="js/jquery-1.11.0.min.js"></script>
        <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    </head>
    <style media="screen">
        .juzhong{ margin:0 auto; width:400px; height:100px;}
    </style>
    <body>
        <div class="container juzhong">
            <img src="images/error.png" alt="">
        </div>
    </body>
</html>
