<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Error</title>
        <script src="js/jquery-1.11.0.min.js"></script>
        <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    </head>
    <style media="screen">
        .juzhong{ margin:0 auto; width:400px; height:100px;}
        .no-result {
            background: #fff url("/images/no_more.png") no-repeat scroll 50% 100%;
            border: 1px solid #e5e9ef;
            height: 440px;
            line-height: 440px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            padding: 0;
            text-align: center;
            width: 978px;
        }
    </style>
    <body>
        <div class="no-result">
	        <p class="text"> 没有相关数据 </p>
        </div>
    </body>
</html>
