<!DOCTYPE html>
<html>
<head>
<title>HOME</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/px.css" rel='stylesheet' type='text/css' />
<script src="js/jquery-1.11.0.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
<!--start-count-->
<link rel="stylesheet" href="css/jquery.countdown.css" />
<script src="js/jquery.countdown.js"></script>
<script src="js/script.js"></script>
<script src="js/index.js"></script>
<!--end-count-->
<style>
body { min-height: 1500px ; }
.pxer-app .pxer-class-fieldset {
  border: 1px solid #ccc;
  position: relative !important;
  padding-top: 1em;
  margin-top: 1em; }
.pxer-app .pxer-class-fieldset .pcf-title {
  background-color: #fff;
  display: inline-block !important;
  position: absolute;
  top: -0.75em;
  left: 0.45em;
  font-size: 16px; }
  .pxer-app .pxer-print .pp-filter {
	width: 45% !important; }
	.pxer-app .pxer-print .pp-filter, .pxer-app .pxer-print .pp-print {
  margin-top: 1.5em;
  padding: 12px; }
.pxer-app .pxer-print .pp-print {
  width: 35%; }
  .pxer-app .pxer-print .pp-print .pppf-buttons {
	text-align: right; }

.left{
	float:left;
	width:49%;
}
.right{
	float:right;
	width:49%;
}
</style>
</head>

<script type="text/javascript">
function moveToDownload(){
	$('html, body').animate({
	                    scrollTop: $(".testimonial").offset().top+60
	      			}, 1000);
}
</script>

<body>
<!--start-banner-->
	<div class="banner" id="home">
			<div class="header">
				<div class="container">
					<div class="head">
						<div class="header-left">
							<a href="index.html"><h1>PixivHelper</h1></a>
						</div>
						<div class="header-right">
							<p>contact us</p>
							<p><a href="https://github.com/regaliastar/project-Spider" target="_blank">@github.com</a></p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="banner-top">
				<div class="banner-bottom">
					<!--<h2>Suspendisse rutrum commodo diam</h2>-->
					<h2>PixivHelper - your best tools</h2>
				</div>
				<div class="b-btn">
					<a href="javascript:void(0);" onclick="moveToDownload()" class="hvr-sweep-to-right">Dwonload now</a>

				</div>
			</div>
	</div>
	<!--end-banner-->
	<!--start-about-->
	<div class="about">
		<div class="container">
			<div class="about-top">
				<h3>今日推荐</h3>
				<div class="about-bottom">
					<div class="about-bottom-text">
						<div class="col-md-4 about-bottom-grid">
							<span class="one"> </span>
							<h4>No.01 Pixiver</h4>
							<label> </label>
							<p>bookmarket:666</p>
							<p>follow:233</p>
							<p>comment:233</p>
						</div>
						<div class="col-md-4 about-bottom-grid">
							<span class="two active"> </span>
							<h4>前五画师</h4>
							<label> </label>
							<p style="color:red">查看更多</p>
						</div>
						<div class="col-md-4 about-bottom-grid">
							<span class="tre"> </span>
							<h4>No.02 Pixiver</h4>
							<label> </label>
							<p>bookmarket:666</p>
							<p>follow:233</p>
							<p>comment:233</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="about-bottom-text">
						<div class="col-md-4 about-bottom-grid">
							<span class="fvr"> </span>
							<h4>No.03 Pixiver</h4>
							<label> </label>
							<p>bookmarket:666</p>
							<p>follow:233</p>
							<p>comment:233</p>
						</div>
						<div class="col-md-4 about-bottom-grid">
							<span class="fve"> </span>
							<h4>No.04 Pixiver</h4>
							<label> </label>
							<p>bookmarket:666</p>
							<p>follow:233</p>
							<p>comment:233</p>
						</div>
						<div class="col-md-4 about-bottom-grid">
							<span class="six"> </span>
							<h4>No.05 Pixiver</h4>
							<label> </label>
							<p>bookmarket:666</p>
							<p>follow:233</p>
							<p>comment:233</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end-about-->
	<!--start-gallery-->
	<div class="gallery">
		<div class="container">
			<div class="gallery-top">
				<h3>推荐作品</h3>
			</div>
			<div class="gallery-bottom">
				 <ul id="flexiselDemo3">
						<li>
							<img src="images/g-1.jpg" alt="" />
						 </li>
						 <li>
							<img src="images/g-2.jpg" alt="" />
						 </li>
						 <li>
							<img src="images/g-3.jpg" alt="" />
						 </li>
					 </ul>
			</div>
		</div>
	</div>
	<!--end-gallery-->
	<!--Slider-Starts-Here-->
				 <script type="text/javascript">
					$(window).load(function() {

						$("#flexiselDemo3").flexisel({
							visibleItems: 3,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
							responsiveBreakpoints: {
								portrait: {
									changePoint:480,
									visibleItems: 1
								},
								landscape: {
									changePoint:640,
									visibleItems: 2
								},
								tablet: {
									changePoint:768,
									visibleItems: 3
								}
							}
						});

					});
				    </script>
				    <script type="text/javascript" src="js/jquery.flexisel.js"></script>

			<!--End-slider-script-->
	<!--start-work-->
	<div class="work">
		<div class="container">
			<div class="work-top">
				<h3>更多资讯</h3>
				<div class="work-bottom">
					<div class="col-md-4 work-left">
						<div class="work-one wrk">
							<h4>01</h4>
							<p>Information</p>
						</div>
						<div class="work-one">
							<h4>02</h4>
							<p>Information</p>
						</div>
						<div class="work-one">
							<h4>03</h4>
							<p>Information</p>
						</div>
					</div>
					<div class="col-md-4 work-middle">
						<img src="images/work-1.png" alt="" />
					</div>
					<div class="col-md-4 work-right">
						<div class="work-one wrk">
							<h4>04</h4>
							<p>Information</p>
						</div>
						<div class="work-one">
							<h4>05</h4>
							<p>Information</p>
						</div>
						<div class="work-one">
							<h4>06</h4>
							<p>Information</p>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--end-work-->
	<!--start-testimonial-->
	<div class="testimonial">
		<div class="container">
			<div class="testimonial-top">
				<h3>Terminal</h3>
				    <div class="testimonial-bottom">
						<div class="pxer-print" v-show="showAll ||['finish'].indexOf(state)!==-1">
						    <div class="left pp-filter pxer-class-fieldset">
							<form onsubmit="return false" id="downLoadForm" name="terminal">
						        <div class="ppf-title pcf-title">过滤选项</div>
						        <div class="ppf-form">
						            <div class="form-group">
						                <label>点赞数 ≥</label>
						                <input type="number" class="form-control" name="dianZhanShu" v-model.number="pxer.pfConfig.score" />
						            </div>
						            <div class="form-group">
						                <label>浏览数 ≥</label>
						                <input type="number" class="form-control" name="liuLanShu" v-model.number="pxer.pfConfig.view" />
						            </div>
						            <div class="form-group">
						                <label>作者ID</label>
						                <input type="number" class="form-control" name="zuoZheID" v-model.number="pxer.pfConfig.avg" />
						            </div>
						            <div class="form-group">
						                <label>作品中<strong>不能</strong>含有以下<strong>任意一个</strong>标签</label>
						                <input v-model="no_tag_any" type="text" name="noAnyLable" class="form-control" placeholder="可以有多个，空格分割" />
						            </div>
						            <div class="form-group">
						                <label>作品中<strong>不能同时</strong>含有以下<strong>所有</strong>标签</label>
						                <input v-model="no_tag_every" type="text" name="noAllLable" class="form-control" placeholder="可以有多个，空格分割" />
						            </div>
						            <div class="form-group">
						                <label>作品中<strong>必须</strong>含有以下<strong>任意一个</strong>标签</label>
						                <input v-model="has_tag_some" type="text" name="yesAnyLable" class="form-control" placeholder="可以有多个，空格分割" />
						            </div>
						            <div class="form-group">
						                <label>作品中<strong>必须同时</strong>含有以下<strong>所有</strong>标签</label>
						                <input v-model="has_tag_every" type="text" name="yesAllLable" class="form-control" placeholder="可以有多个，空格分割" />
						            </div>
						        </div>
						    </div>

						    <div class="right pp-print pxer-class-fieldset">
						        <div class="ppp-title pcf-title">输出选项</div>
						        <div class="ppp-form">
						            <div class="form-group">
						                <label>单张插画</label>
						                <select class="form-control" name="singlePicture" v-model="pxer.ppConfig.illust_single">
						                    <option value="600p">600p</option>
						                    <option value="no">不输出</option>
						                </select>
						            </div>
						            <div class="form-group">
						                <label>多张插画</label>
						                <select class="form-control" name="muchPicture" v-model="pxer.ppConfig.illust_multiple">
						                    <option value="max">最大</option>
						                    <option value="1200p">1200p</option>
						                    <option value="cover_600p">仅封面（600p）</option>
						                    <option value="no">不输出</option>
						                </select>
						            </div>
						            <div class="form-group">
						                <label>多张漫画</label>
						                <select class="form-control" name="muchCartoon" v-model="pxer.ppConfig.manga_multiple">
						                    <option value="max">最大</option>
						                    <option value="1200p">1200p</option>
						                    <option value="cover_600p">仅封面（600p）</option>
						                    <option value="no">不输出</option>
						                </select>
						            </div>
						            <div class="form-group">
						                <label>动图</label>
						                <select class="form-control" name="dynamicPicture" v-model="printConfigUgoira">
						                    <option value="max-no">最大压缩包</option>
						                    <option value="600p-no">600p压缩包</option>
						                    <option value="max-yes">最大压缩包 + 参数</option>
						                    <option value="600p-yes">600p压缩包 + 参数</option>
						                    <option value="no-no">不输出</option>
						                </select>
						            </div>



						            <div class="pppf-buttons">
						                <p class="pppfb-msg" v-html="taskInfo" v-show="taskInfo"></p>
						                <button class="btn btn-outline-info" name="buttonPreview" ">Preview</button>
						                <button class="btn btn-outline-success" name="buttonDownload" ">Download</button>

						            </div>
												<br></br>
												<div class="pi-item">
													<div class="pii-title">执行进度(点击preview按钮后显示)</div>
														<table class="table">
															<tr>
																<td>总任务数：</td>
																<td v-text="taskCount"></td>
															</tr>
															<tr>
																<td>已完成：</td>
																<td v-text="finishCount>=0?finishCount:'-'"></td>
															</tr>
															<tr>
																<td>剩余时间：</td>
				 												<td v-text="forecastTime>=0?formatTime(forecastTime):'-'"></td>
		 												</tr>
													</table>
												</div>
						        </div>
							</form>
						    </div>
						</div>
					</div>
			</div>
		</div>
	</div>
	<!--end function -->
	<script>
	var terminalForm=document.terminal;

		function bottonClickDownload(){
		   var txtDianZanShu=""+terminalForm.dianZhanShu.value;
		   var txtLiuLanShu=""+terminalForm.liuLanShu.value;
		   var txtZuoZheID=''+terminalForm.zuoZheID.value;

		   var tempNoAnyLable=terminalForm.noAnyLable.value.split(' ');
		   var tempNoAllLable=terminalForm.noAllLable.value.split(' ');
		   var tempYesAnyLable=terminalForm.yesAnyLable.value.split(' ');
		   var tempYesAllLable=terminalForm.yesAllLable.value.split(' ');

		   var txtSinglePicture=terminalForm.singlePicture.value;
		   var txtMuchlePicture=terminalForm.muchPicture.value;
		   var txtMuchCartoon=terminalForm.muchCartoon.value;
		   var txtDynamicPicture=terminalForm.dynamicPicture.value;

		   $.ajax({
			type:'post',
			url:'/download',
			data:{
				praise:txtDianZanShu,
				pageView:txtLiuLanShu,
				id:txtZuoZheID,
				has_tag_every:tempYesAllLable,
				has_tag_some:tempYesAnyLable,
				no_tag_any:tempNoAnyLable,
				no_tag_every:tempNoAllLable,
				single_picrure:txtSinglePicture,
				muchle_picture:txtMuchlePicture,
				much_cartoon:txtMuchCartoon,
				dynamic_picture:txtDynamicPicture
			},
			success:function(data){
				console.log('success');
			},
			error:function(){
				console.log('err');
			}
		});

		}


		function bottonClickPreview(){
		var txtTotalAssignment;
		var txtDoneAssignment;
		var leftTime;
		alert("hh");
		}
		terminalForm.buttonDownload.addEventListener("click",bottonClickDownload);
		terminalForm.buttonPreview.addEventListener("click",bottonClickPreview);
	</script>
	<!--end-testimonial-->
	<!--start-footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-main">
				<div class="col-md-6 footer-left">
					<a href="javascript:void(0);"><h3>Blinds</h3></a>
					<p>Address:<span>SiChuan University</span>
					   <span>No.12 team</span></p>
				</div>
				<div class="col-md-6 footer-right">
					<p>How to contact us?</p>
					<div class="ftr">
						<label style="color:white"><a href="https://github.com/regaliastar/project-Spider" target="_blank">@github.com</a></label>
						<ul>
							<li><a href="javascript:void(0);"><span class="sky"> </span></a></li>
							<li><a href="javascript:void(0);"><span class="twit"> </span></a></li>
							<li><a href="javascript:void(0);"><span class="fb"> </span></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="footer-bottom">
				<p>Copyright &copy; 2017 <a href="https://github.com/regaliastar/project-Spider" target="_blank" >project-Spider team</a></p>
			</div>
		</div>
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear'
								 		};
										*/

										$().UItoTop({ easingType: 'easeOutQuart' });

									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
	<!--end-footer-->
</body>
</html>
